<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>Welcome to Sinatra Strap, a Bootstrap CSS, Sinatra, ERB, DataMapper and SQLite enhanced Ruby/Sinatra
      boilerplate for your
      web projects.
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Settings</h2>
      <p>Settings are defined in <%=CONFIG.location%>, but some defaults have been chosen for you.</p>
      <pre><%=CONFIG.raw%></pre>
    </div>
    <div class="col-lg-4">
      <h2>Admin User</h2>
      <p>We've set up an Admin User for you:</p>
      <ul>
        <li>Username: <%=CONFIG.admin.email%></li>
        <li>Password: <%=CONFIG.admin.pass%></li>
      </ul>
      <p><a class="btn btn-default" href="#"><span class="glyphicon glyphicon-lock"></span> Sign in &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Database</h2>
      <p>The database <%=CONFIG.database%> has been created for you.</p>
      <p><a class="btn btn-default" href="#"><span class="glyphicon glyphicon-eye-open"></span> View details &raquo;</a></p>
    </div>
  </div>