<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=meta_title%></title>
  <meta name="description" content="<%=meta_description%>" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/custom.css" />
  <% css.each do |stylesheet| %>
    <link rel="stylesheet" type="text/css" href="<%= stylesheet %>" />
  <% end %>
</head>
<body class="<%=@body_class%>">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Sinatra Strap</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a class="link_home" href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
        <% if session[:valid] %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="link_secure" href="<%=CONFIG.secure_home%>" class="dropdown-toggle" data-toggle="dropdown"><span
            class="glyphicon glyphicon-cog"></span>
              Admin <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="<%=CONFIG.secure_home%>">Home</a></li>
              <li><a href="<%=CONFIG.secure_home%>/users">Manage Users</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
        <% else %>
        <form class="navbar-form navbar-right" method="post" action="/login">
          <div class="form-group">
            <input type="text" id="email" name="email" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" id="pass" name="pass" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-lock"></span> Sign in</button>
        </form>
        <% end %>
      </div><!--/.navbar-collapse -->
    </div><!--/.container -->
  </div>
  <%= yield %>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/2.0.3/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <% js.each do |javascript| %>
  <script type="text/javascript" src="<%= javascript %>"></script>
  <% end %>
</body>
</html>